# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.BrackeysGameJam2022.1.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Kyle\RiderProjects\BrackeysGameJam2022.1\.idea\.idea.BrackeysGameJam2022.1.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
